<nav class="navbar navbar-expand-lg" style="background-color: rgb(51, 46, 46);">
    <div class="container-fluid" style="color: black;">
      <a class="navbar-brand" href="general">
        <img src="https://i.imgur.com/FDaAvqr.png" alt="Tempoplay" width="60" height="60">
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Mis_Tempos" style="color: blueviolet;">Mis Tempos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="reproductor" style="color: aqua;">Reproductor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="historial" style="color: magenta;">Historial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="favoritos" style="color: goldenrod;">Favoritos</a>
          </li>
        </ul>
        <div class="col-sm-2 text-end">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
              {{usuario.NombreUsuario}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="main">Cerrar sesión</a></li>
            </ul>
            <a href="main" class="menu1 pr-2" style="text-decoration: none;"></a>
            <i class="bi bi-box-arrow-in-right" style="color: #666666; font-size: 20px; margin-left: 2%"></i>
        </div>
      </div>
    </div>
</nav>